/* The basic style sheet for the entire app */
main {
    /* 100 Bytes of CSS to look great everywhere https://www.swyx.io/css-100-bytes */
    max-width: 80ch;
    padding: 3em 1em;
    margin: auto;
    line-height: 1.75;
    font-size: 1.25em;
}

input[type="number"] {
    max-width: 80%;
}

div.outer {
    position: fixed;
    top: 41px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    padding: 0;
}

/* Customize fonts */
body, label, input, button, select {
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: 200;
}

h1, h2, h3, h4 {
    font-weight: 400;
}

label {
    margin-left: 0.5rem;
}

span.value {
    /* align values like a tab stop */
    float: right;
}

.card {
    margin: 30px;
    padding: 15px;
}

/* Add greying out on disabled for tags that may require it */
:is(label, h1, h2, h3, h4, h5, h6)[disabled] {
    color: grey;
}
